node_modules/
client/node_modules/
server/node_modules/

.env
client/.env
server/.env

firebase-service-account.json
server/firebase-service-account.json

client/dist/

server/uploads/*
!server/uploads/.gitkeep

.DS_Store
Thumbs.db